.collection-tabs h2{
  font-size: clamp(24px, 2.5vw, 42px);
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0;
  color: #494441;
  margin-bottom: 0;
}
.collection-tabs .product__grid__info .product__grid__title__wrapper{
  flex-direction: column;
  align-items: flex-start;
}
.collection-tabs .product__grid__title {
  font-size: clamp(12px,2vw,14px);
  font-weight: 500;
}
.collection-tabs .cta-collection-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.collection-tabs .cta-collection-btn-container .prd-slider-btn{
  font-size: clamp(10px, 2vw, 14px);
    letter-spacing: 1.5px;
    padding: 15px 25px;
}