.collection-tabs h2{
  font-size: clamp(24px, 5vw, 42px);
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0;
  color: #494441;
}
.collection-tabs .product__grid__info .product__grid__title__wrapper{
  flex-direction: column;
  align-items: flex-start;
}
.collection-tabs .product__grid__title {
  font-size: clamp(12px,2vw,14px);
  font-weight: 500;
}